@using MVCPaging

@model JL.Core.Common.PageData<JL.Core.Models.Member>
@{
    ViewBag.Title = "Index";
}
@section styles{
    <style type="text/css">
        .query-part {
            padding-bottom: 9px;
            margin: 4px 0 10px;
            border-bottom: 1px solid #eee;
        }

        .thumbnail {
            margin-bottom: 2px;
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }
        .dropdown ul {
            min-width: 40px;
        }
    </style>

}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">成员列表</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="query-part">
            <form class="form-inline" method="post" action="@Url.Action("index","product")">
                <div class="form-group">
                    <label for="productName">名称：</label>
                    <input type="text" class="form-control" name="title" placeholder="输入名称查询">
                </div>
                
                <button type="submit" class="btn btn-primary">查询</button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-hover" id="dataTable-products">
            <thead>
                <tr>
                    <th class="col-lg-1">图片</th>
                    <th class="col-lg-2">姓名</th>
                    <th class="col-lg-1">昵称</th>
                    <th class="col-lg-1">自我介绍</th>
                    <th class="col-lg-1">Email</th>
                    <th class="col-lg-1">QQ</th>
                    <th class="col-lg-1">微信</th>
                    <th class="col-lg-1">手机号</th>
                    <th class="col-lg-1">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Data)
                {
                    <tr>
                        <td>
                            <a href="#" class="thumbnail">
                                <img src="@JL.Web.Helpers.ImageHelper.GenPictureUrlSmall(member.Picture,PictureEnums.Member)" alt="" class="img-responsive">
                            </a>
                        </td>
                        <td>@member.RealName</td>
                        <td>@member.NickName</td>
                        <td class="center">@Html.Raw(member.Description)</td>
                        <td>@member.Email</td>
                        <td class="center">@member.QQ</td>
                        <td class="center">@member.Weixin</td>
                        <td class="center">@member.Phone</td>
                        <th class="center">
                            
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    操作
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li><a href="@Url.Action("edit","member",new { id = member.AutoId })">编辑</a></li>
                                    <li><a data-toggle="modal" data-id="@member.AutoId" data-name="@member.NickName" href="#delModal">删除</a></li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        @Html.Pager(Model.PageSize, Model.PageIndex, Model.TotalCount).Options(o => o.Action("Index").RouteValues(ViewBag.productQuery))

    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="delModal">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("delete", "member", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除确认</h4>
                </div>
                <div class="modal-body">
                    <p>确定删除选中项吗？&hellip;</p>
                </div>
                <input type="hidden" name="members" id="members" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">删除</button>
                </div>
            </div>
        }

    </div>
</div>


@section scripts{
    <script type="text/javascript">
    $(function () {
        $('#delModal').on('show.bs.modal', function (e) {
            // do something…
            console.log(e.relatedTarget);
            var title = $(e.relatedTarget).data('name');
            var id = $(e.relatedTarget).data('id');
            $('#delModal .modal-body').html(title);
            $('#members').val(id);
        });
        $('#delModal').on('hidden.bs.modal', function (e) {
            // do something…
            $('#delModal .modal-body').html();

        })
    });
    </script>
}