@model JL.Core.Common.PageData<JL.Core.Models.ProductCategory>
@{
    ViewBag.Title = "分类设置";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">类别</h3>

        <div class="form-group">
            <div class="btn-toolbar" role="toolbar" aria-label="">
                <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNewCategory">新类别</button>
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="row">
    @if (Model != null && Model.Data != null)
    {
        var data = Model.Data.ToArray();

        for (int i = 0; i < data.Length; i++)
        {
            var category = data[i];
            <div class="col-lg-4" id="category-@category.AutoId">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @category.Name<small> - <i>@category.Alias</i></small><a href="#" data-toggle="modal" data-id="@category.AutoId" data-target="#modalRemove"><i class="pull-right fa fa-trash-o m-r-5" title="删除"></i></a>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            @foreach (var product in category.Products)
                            {
                                <a href="#" class="list-group-item">
                                    <span class="badge">@product.PageViews</span>@product.Name
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("delete", "category", FormMethod.Post))
            {
                <input type="hidden" value="" name="categoryid" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <h4 class="not-hide-menu text-center">您确定要删除该分类吗？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">确定</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>

                </div>
            }
        </div>
    </div>
</div>

<div class="modal" id="modalNewCategory" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="newCategoryForm" action="@Url.Action("new","category")" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新类别</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="categoryname" class="control-label">名称:</label>
                        <input type="text" class="form-control" id="categoryname" name="categoryname" />
                    </div>
                    <div class="form-group">
                        <label for="categoryalias" class="control-label">别名:</label>
                        <input type="text" class="form-control" id="categoryalias" name="categoryalias" />
                    </div>
                    <div class="form-group">
                        <label for="categorysort" class="control-label">排序:</label>
                        <input type="text" class="form-control" id="categorysort" name="categorysort" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/scripts/jquery.validate.js")*@
    @Scripts.Render("~/Content/arttemplate/template-web.js")

    <script id="tpl-category" type="text/html">
        <div class="col-lg-4" id="category-{{Id}}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{Name}}<small> - <i>{{Alias}}</i></small><a href="#" data-toggle="modal" data-id="{{Id}}" data-target="#modalRemove"><i class="pull-right fa fa-trash-o m-r-5" title="删除"></i></a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {{each products product index}}
                        <a href="{{#}}" class="list-group-item"><span class="badge">{{product.count}}</span>{{product.name}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#newCategoryForm').validate({
                rules:{
                    categoryname:"required",
                    categorysort:{
                        required:true,
                        number:true
                    }
                },
                messages: {
                    categoryname:"请输入分类名称",
                    categorysort:"只能输入数字"
                },
                errorElement: "em",
				errorPlacement: function ( error, element ) {
					// Add the `help-block` class to the error element
					error.addClass( "help-block" );
					if ( element.prop( "type" ) === "checkbox" ) {
						error.insertAfter( element.parent( "label" ) );
					} else {
						error.insertAfter( element );
					}
				},
				highlight: function (element, errorClass, validClass) {
					$(element).parents(".form-group").addClass("has-error").removeClass("has-success");
				},
				unhighlight: function (element, errorClass, validClass) {
					$(element).parents(".form-group").addClass("has-success").removeClass("has-error");
				}

            });

            // attach event
            $('#modalNewCategory button.btn-primary').click(function(){

                var flag = $("#newCategoryForm").valid();
                if(!flag){
                    return;
                }
                var url=$('#newCategoryForm').prop('action');
                var data={
                    name:$('#categoryname').val(),
                    alias:$('#categoryalias').val(),
                    sort:$('#categorysort').val()
                };
                $.post(url, data, function (resp) {
                    if (resp.Success) {
                        var category = resp.Data;
                        var tplHtml = template('tpl-category', category);
                        $('#page-wrapper .row:eq(1)').append(tplHtml);
                        $('#modalNewCategory').modal('hide');
                    }
                });
            });

            // remove category
            $('#modalRemove').on('shown.bs.modal', function (e) {
                var source = e.relatedTarget;
                var id = $(source).attr('data-id');
                $(this).find('input:hidden[name="categoryid"]').val(id);
            });
            $("#modalRemove button.btn-success").click(function () {                
                var id = $('#modalRemove').find('input:hidden[name="categoryid"]').val(); console.log(id);
                var url = $('#modalRemove').find('form').attr('action'); console.log(url);
                $.post(url, { id: id }, function (resp) {
                    if (resp.Success) {
                        $('#category-' + id).remove();
                        $('#modalRemove').modal('hide');
                    }
                });
            });
        });
    </script>
}
