@model JL.Web.Areas.backend.Models.FranchiseeModel
@{
    ViewBag.Title = "手动添加加盟商";
}


@using (Html.BeginForm("new", "franchisee", FormMethod.Post, new { id = "franchiseeForm", enctype = "multipart/form-data" }))
{
    if (ViewData.ContainsKey("ResultObject"))
    {
        var obj = ViewData["ResultObject"] as JL.Web.Common.ResultObject;
        if (obj.Success)
        {
            <div class="alert alert-success navbar-fixed-top container" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>操作成功！</strong> 点击<a href="@Url.Action("Index","franchisee")" class="alert-link">这里</a>跳转到加盟商列表。
            </div>
        }
        else
        {
            <div class="alert alert-danger navbar-fixed-top container" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>操作失败！</strong> @obj.Message
            </div>
        }
    }

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">添加加盟商信息</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label for="Name">姓名</label>
                @Html.TextBoxFor(a => a.Name, new { @class = "form-control", placeholder = "请输入姓名" })
            </div>

            <div class="form-group">
                <label for="Name">邮箱</label>
                @Html.TextBoxFor(a => a.Email, new { @class = "form-control", placeholder = "请输入邮箱" })
            </div>

            <div class="form-group">
                <label for="Name">微信号</label>
                @Html.TextBoxFor(a => a.Weixin, new { @class = "form-control", placeholder = "请输入微信" })
            </div>

            <div class="form-group">
                <label for="Name">手机号</label>
                @Html.TextBoxFor(a => a.Phone, new { @class = "form-control", placeholder = "请输入手机号" })
            </div>

            <div class="form-group">
                <label for="Name">联系地址</label>
                @Html.TextBoxFor(a => a.Address, new { @class = "form-control", placeholder = "联系地址" })
            </div>

            <div class="form-group">
                <label for="datetimepicker">加盟日期</label>
                <input type="text" style="width:90%;" name="ProcessTime" class="form-control" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" id="ProcessTime">
            </div>

            <div class="radio">
                <label style="margin-right:15px;">
                    <input type="radio" name="status" value="0"> 申请
                </label>
                <label style="margin-right:15px;">
                    <input type="radio" name="status" checked="checked"value="0"> 通过
                </label>
                <label style="margin-right:15px;">
                    <input type="radio" name="status" value="2"> 拒绝
                </label>
                <label style="margin-right:15px;">
                    <input type="radio" name="status" value="3"> 终止
                </label>
            </div>

            <button type="submit" class="btn btn-success">提交</button>
        </div>

    </div>
}

@section styles{
@Styles.Render("~/Static/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker")
}

@section scripts{
    
@Scripts.Render("~/bundles/datepicker")
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">


        // jquery validate
        $(document).ready(function () {
            
            $('#ProcessTime').datetimepicker({
                language: 'zh-CN',
                autoclose: true,
                todayBtn: true,
                format: 'yyyy-mm-dd hh:ii',
                pickerPosition: "left-bottom",
                todayHighlight: true
            });

            $('#franchiseeForm').validate({
                rules: {
                    Name: "required"               
                },
                messages: {
                    Name: "请输入姓名"
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    // Add the `help-block` class to the error element
                    error.addClass("help-block");
                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertAfter(element);
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parents(".form-group").addClass("has-error").removeClass("has-success");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents(".form-group").addClass("has-success").removeClass("has-error");
                }

            });
        });
</script>

}