@using JL.Infrastructure;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@JL.Web.Helpers.SettingHelper.GetDescription()" />
    <meta name="Keywords" content="@JL.Web.Helpers.SettingHelper.GetKey()" />
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    
    @RenderSection("styles", required: false)
</head>
<body>
    <!--Header-->
    <div class="navbar" role="navigation">

        <div class="container">

            <div class="row">
                <div class="col-sm-2">
                    <a class="navbar-brand" href="/">
                        <img alt="" src="~/Images/logo.png">
                    </a>
                </div>
                <div class="col-sm-10">
                    <ul class="list-inline pull-right hidden-xs qrcodes">
                        <li>
                            <img src="~/Images/qrcode.png" class="img-thumbnail" />
                            <p class="text-center">微信加盟</p>
                        </li>
                        <li>
                            <img src="~/Images/qrcode.png" class="img-thumbnail" />
                            <p class="text-center">微信加盟</p>
                        </li>
                        <li>
                            <img src="~/Images/qrcode.png" class="img-thumbnail" />
                            <p class="text-center">微信加盟</p>
                        </li>
                        <li>
                            <img src="~/Images/qrcode.png" class="img-thumbnail" />
                            <p class="text-center">微信加盟</p>
                        </li>
                    </ul>
                    <div>
                        <button type="button" class="navbar-toggle navbar-btn collapsed" style="margin:25px 10px"
                                data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="nav nav-line">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav menu-nav navbar-nav navbar-right">
                        @{
                            var controller = ViewContext.RouteData.Values["controller"].ToString();
                            var action = ViewContext.RouteData.Values["action"].ToString();
                        }
                        <li @Html.Raw(controller.IsEquals("home")&&action.IsEquals("index") ? ("class=\"active\"") : "\"\"")>
                            <a href="/"><span>网站首页</span></a>
                        </li>
                        <li @Html.Raw(controller.IsEquals("skincare") ? "class=\"active\"" : "")>
                            <a href="@Url.Action("index","skincare")"><span>关于护肤</span></a>
                        </li>
                        <li @Html.Raw(controller.IsEquals("product") ? "class=\"active\"" : "")>
                            <a href="@Url.Action("index","product")"><span>产品中心</span></a>
                        </li>
                        <li @Html.Raw(controller.IsEquals("join") ? "class=\"active\"" : "")>
                            <a href="@Url.Action("index","join")"><span>微商加盟</span></a>
                        </li>
                        <li @Html.Raw(controller.IsEquals("material") ? "class=\"active\"" : "")>
                            <a href="@Url.Action("index","material")"><span>素材中心</span></a>
                        </li>
                        @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>素材中心</span> <i class="icon-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="career.html"><span>Career</span></a></li>
                                    <li><a href="blog-item.html"><span>Blog Single</span></a></li>
                                    <li><a href="faq.html"><span>FAQ</span></a></li>
                                    <li><a href="pricing.html"><span>Pricing</span></a></li>
                                    <li><a href="404.html"><span>404</span></a></li>
                                    <li><a href="typography.html"><span>Typography</span></a></li>
                                    <li><a href="registration.html"><span>Registration</span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="privacy.html"><span>Privacy Policy</span></a></li>
                                    <li><a href="terms.html"><span>Terms of Use</span></a></li>
                                </ul>
                            </li>*@
                        <li @Html.Raw(controller.IsEquals("team") ? "class=\"active\"" : "")>
                            <a href="@Url.Action("index","team")"><span>团队中心</span></a>
                        </li>
                        <li @Html.Raw(controller.IsEquals("home")&&action.IsEquals("contact") ? "class=\"active\"" : "")>
                            <a href="@Url.Action("contact","home")"><span>联系我们</span></a>
                        </li>
                        <li class="login">
                            <a data-toggle="modal" href="#loginForm"><i class="icon-lock"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /header -->
    <!--carousel-->

    @RenderBody()

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>关注</h3>
                    <div class="third-box">
                        <a href="#"><i class="icon-modal icon-login-qq"></i></a>
                        <a href="#"><i class="icon-modal icon-login-wx"></i></a>
                        <a href="#"><i class="icon-modal icon-login-wb"></i></a>
                        <a href="#"><i class="icon-modal icon-login-zfb"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>地址</h3>
                    <address>
                        <strong>厦门青色拾光电子商务有限公司</strong><br>
                        中国福建省厦门市集美区永丰里13号<br>
                        <abbr title="Phone">P:</abbr> 15105973647
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; @DateTime.Now.Year - 厦门青色拾光电子商务有限公司 版权所有</p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
