@using JL.Infrastructure;
@{
    ViewBag.Title = "Home Page";
}

<!--新品推荐-->
<div class="container">
    <div class="text-center">
        <h3 class="text-moduletitle">新品推荐</h3>
        <p>NEW PRODUCT</p>
    </div>

    <div class="row">
        @foreach (var product in ViewBag.RecommendProducts)
        {
            <div class="col-sm-4 col-md-3">
                <a href="@Url.Action("detail","product",new { id = product.AutoId })" class="thumbnail">
                    <img src="@JL.Web.Helpers.ImageHelper.GenPictureUrlMiddle(product.Picture,PictureEnums.Product)" alt="">
                </a>
            </div>
        }
    </div>
</div>

<!--关于我们-->
<div class="jumbotron" style="background-image: url('http://bk.image.styleweb.com.cn/2017/7/13/13039_j521ec58.png?imageMogr2/thumbnail/2000x2000/q/100');background-attachment:fixed">
    <div class="container">
        <div class="text-center">
            <h3 class="text-moduletitle">关于我们</h3>
            <p>ABOUT US</p>
            <p class="text-muted">
                自成立以来，公司坚持以人为本，重视人才培养，拥有一支富有新营销理念、市场拓展能力强的商务团队； 经验丰 富、学历层次高的技术研发团队； 新闻敏感度高、采编经验丰富的编辑团队。
            </p>
        </div>        
    </div>
</div>

<!--产品中心-->
<div class="container">
    <div class="text-center">
        <h3 class="text-moduletitle">产品中心</h3>
        <p>PRODUCT CENTER</p>
    </div>

    <div class="row">
        @foreach (JL.Core.Models.Product product in ViewBag.ProductCenter)
                    {
            <div class="col-sm-6 col-md-6">
                <div class="media margin-box">
                    <div class="media-left media-img-box" style="">
                        <a href="@Url.Action("detail","product",new { id = product.AutoId })" class="pull-left">
                            <img src="@JL.Web.Helpers.ImageHelper.GenPictureUrlSmall(product.Picture,PictureEnums.Product)" alt="">
                        </a>
                    </div>

                    <div class="media-body">
                        <h4 class="media-heading">@product.Name</h4>
                        <p>@product.BriefIntroduction.Intercept(60)</p>

                        <p>零售价：@product.RetailPrice</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*
    <!--套装系列-->
    <div class="container">
        <div class="text-center">
            <h3 class="text-moduletitle">套装系列</h3>
            <p>Series</p>
        </div>

        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4" >
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@
<!--团队中心-->
<!--关于我们-->
<div class="text-center">
    <h3 class="text-moduletitle">团队中心</h3>
    <p>Team</p>
</div>

<div class="jumbotron">
    <div class="container">        
        <div class="row">
            @foreach (JL.Core.Models.Member member in ViewBag.Members)
            {
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <a href="@Url.Action("detail","member",new { id = member.AutoId })">
                            <img src="@JL.Web.Helpers.ImageHelper.GenPictureUrlMiddle(member.Picture,PictureEnums.Member)" alt="">
                        </a>
                        <div class="caption">
                            <h4 class="text-moduletitle text-center">@member.NickName</h4>
                            <p class="text-center">@member.Description.Intercept(20)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!--资讯中心-->

<div class="container">
    <div class="text-center">
        <h3 class="text-moduletitle">资讯中心</h3>
        <p>NEWS</p>
    </div>
    <div class="row col-no-padding">
        @foreach (JL.Core.Models.Article article in ViewBag.Articles)
        {
            <div class="col-sm-3 col-md-3">
                
                    <a href="@Url.Action("detail","skincare",new { id = article.AutoId })" class="thumbnail">
                        <img src="@JL.Web.Helpers.ImageHelper.GenPictureUrlMiddle(article.Picture,PictureEnums.Article)" alt="">
                    </a>                
            </div>
        }
    </div>    
</div>


@section styles{
    <style type="text/css">
        .text-moduletitle {
            color:#42BCDB;
        }
        .media-body h4 {
            margin-bottom: 14px;
            font-weight: normal;
            font-size: 16px;
            color: #42BCDB;
        }
        .media-img-box {
            width: 22%;
            margin-right: 14px;
            display: table-cell;
            vertical-align: middle;
        }
        .caption p{
            font-size:16px;
        }
        .margin-box {
            border: 1px solid rgb(216,216,216);
            padding: 5%;
            margin-bottom: 20px;
            height:0px;
            padding-bottom:28%;
        }
    </style>
}