@model JL.Web.Areas.backend.Models.MaterialModel
@{
    ViewBag.Title = "新素材";
}

@using (Html.BeginForm("new", "material", FormMethod.Post, new { id = "materialForm", enctype = "multipart/form-data" }))
{
    if (ViewData.ContainsKey("ResultObject"))
    {
        var obj = ViewData["ResultObject"] as JL.Web.Common.ResultObject;
        if (obj.Success)
        {
            <div class="alert alert-success navbar-fixed-top container" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>操作成功！</strong> 点击<a href="@Url.Action("Index","Material")" class="alert-link">这里</a>跳转到素材列表。
            </div>
        }
        else
        {
            <div class="alert alert-danger navbar-fixed-top container" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>操作失败！</strong> @obj.Message
            </div>
        }
    }

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">添加素材</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="form-group">
                        <label for="Name">素材名称</label>
                        @Html.TextBoxFor(a => a.Title, new { @class = "form-control", placeholder = "请输入素材名称" })
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="fileInput">选择文件</label>
                        <input id="fileInput" name="fileInput" type="file" class="file-loading" accept="image/*">
                        @Html.HiddenFor(m=>m.FileName)
                    </div>

                    <div class="form-group">
                        <label for="Description">描述</label>
                        @Html.TextAreaFor(m => m.Description, new { @class="form-control", rows=5 })
                    </div>

                    <div class="form-group">
                        <label>素材类型</label>
                        <div class="radio">
                            <label style="margin-right:15px;">
                                <input type="radio" name="fileType" checked="checked" value="1"> 图片
                            </label>
                            <label style="margin-right:15px;">
                                <input type="radio" name="fileType"  value="2"> 视频
                            </label>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="AddTime">发布日期</label>
                        <input type="text" name="AddTime" class="form-control" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" id="AddTime" data-date-format="yyyy-mm-dd">
                    </div>

                    <div class="form-group">
                        <label>@Html.CheckBoxFor(m => m.Status) 发布</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success">保存</button>
        </div>
    </div>
}


@section styles{
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/fileinput")
}
@section scripts{
    @Scripts.Render("~/bundles/ueditor/")
    @Scripts.Render("~/bundles/datepicker/")
    @Scripts.Render("~/bundles/fileinput")

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        // jquery validate
        $(document).ready(function () {
            /*var ue = UE.getEditor('Description', {
                toolbars: [
                    [
                        'fullscreen',
                        'bold', 'italic', 'underline', '|', 'fontsize', '|', 'kityformula', 'preview', 'insertimage'
                    ]
                ],
                autoHeightEnabled: false,
                //initialFrameHeight: height,
                initialFrameWidth: '100%',
                wordCount: false,
                elementPathEnabled: false
            });*/

            $('#AddTime').datetimepicker({
                language: 'zh-CN',
                autoclose: true,
                todayBtn: true,
                format: 'yyyy-mm-dd hh:ii',
                pickerPosition: "left-bottom",
                todayHighlight: true
            });

            $('#fileInput').fileinput({
                language: 'zh',
                allowedFileTypes: ['image', 'video'],
                allowedFileExtensions: ['3gp', 'asf', 'avi', 'dat', 'dv', 'flv', 'f4v', 'gif', 'm2t', 'm3u8', 'm4v', 'mj2', 'mjpeg', 'mkv', 'mov', 'mp4', 'mpe', 'mpg', 'mpeg', 'mts', 'ogg', 'qt', 'rm', 'rmvb', 'ts', 'vob', 'wmv', 'webm', 'jpg', 'jpeg', 'png', 'bmp'],
                showUpload: false,
                showCaption: false,

                browseClass: "btn btn-primary",
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                uploadUrl: '/material/upload',
                uploadExtraData: function () {
                    var fileType = $('input[name="fileType"]:checked').val();
                    return { fileType: fileType };
                }
            });
            $('#fileInput').on('fileuploaded', function (event, data, previewId, index) {
                var form = data.form, files = data.files, extra = data.extra,
                    response = data.response, reader = data.reader;
                if (response.Success) {
                    if (response.Data) {
                        var fileLink = response.Data.FileLink;
                    }                    
                    $('#FileName').val(fileLink);
                }
            });

            $('#materialForm').validate({
                ignore:[],
                rules: {
                    Title: "required",
                    FileName:"required"
                },
                messages: {
                    Title: "请输入素材名称",
                    FileName:"请选择文件"
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    // Add the `help-block` class to the error element
                    error.addClass("help-block");
                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertAfter(element);
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parents(".form-group").addClass("has-error").removeClass("has-success");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents(".form-group").addClass("has-success").removeClass("has-error");
                }

            });
        });
    </script>
}
