@using MVCPaging
@using JL.Infrastructure

@model JL.Core.Common.PageData<JL.Core.Models.Material>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs margin-b-15">
                <li role="presentation"><a href="@Url.Action("index","material")">全部</a></li>
                <li role="presentation"><a href="@Url.Action("picture","material")">图片</a></li>
                <li role="presentation" class="active"><a href="@Url.Action("video","material")">视频</a></li>
            </ul>
        </div>
    </div>


    <div class="row">
        @foreach (var material in Model.Data)
        {
            <div class="col-lg-3">
                <div class="thumbnail">
                    <a href="#" class="thumbnail margin-b-2">
                        <img src="@JL.Web.Helpers.ImageHelper.GenMaterailPicture(material.Picture,MaterialType.Video,PictureSize.Middle)" alt="">
                    </a>
                    <div class="caption clearfix">
                        <h4 class="margin-0">@material.Title</h4>
                        <p>@material.Description.Intercept(20)</p>
                        <a href="@Url.Action("download",new { id = material.AutoId })" target="_blank" class="btn btn-primary"></a>
                        <span class="pull-right">下载数：@material.PageViews</span>
                    </div>
                </div>
            </div>
        }
    </div>


    <div class="row">
        <div class="col-lg-12">
            @Html.Pager(Model.PageSize, Model.PageIndex, Model.TotalCount).Options(o => o.Action("Picture"))
        </div>
    </div>

</div>
